html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0;}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
b,strong{font-weight:100;}
i,em{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility: hidden;}


@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.top{
	width:100%;
	height:100px;
	/*position:relative;*/
}
.top img{
	width:100%;
	height:100px;
	cursor:pointer;
}
/**/.top span{
	display:inline-block;
	height:30px;
	width:30px;
	background:rgba(135,135,135,0.3);
	position:absolute;
	left:95%;
	top:10px;
	font-size:20px;
	color:rgba(255,255,255,0.7);
	font-weight:bolder;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.topnav{
	width:100%;
	height:32px;
	background:#f2f2f2;
	border-bottom:1px solid #e5e5e5;
}
.topwarp{
	width:1200px;
	margin:0 auto;
	font-size:12px;
	line-height:32px;
}
.topwarp dl,.topwarp dd,.topwarp dt,.topwarp li{
	float:left;
}
.topwarp ul{
	float:right;
}
.topwarp dt a{
	display:inline-block;
	padding:0 4px;
	color:#ec3e7d;
}
.topwarp>ul>li,.topwarp dt{
	padding:0 12px;
}
.topwarp>ul>li:hover{
	background:#fff;
}
.topnav .topwarp>ul>li>a>i{
	color:#ec3e7d;
	font-size:16px;
	padding-right:3px;
}
.topwarp>ul>li>a{
	color:#6c6c6c;
}
.topwarp>ul>li:nth-child(1){
	position:relative;
}
.topwarp>ul>li:nth-child(1)>a>span{
	display:inline-block;
	font-size:14px;
	transform:rotateX(180deg);
	font-family:"微软雅黑";
}
.topwarp>ul>li:nth-child(1):hover .topwrapol{
	display:block;
}
.topwarp .topwrapol{
	position:absolute;
	left:14;
	top:32px;
	background: #fff;
    right: 0;
    width: 94px;
    z-index: 10;
    display: none;
    box-shadow: 0px 4px 8px rgba(0,0,0,.2);
}
.topwarp .topwrapol>li{
	width: 94px;
	text-align:center;
	
}
.topwarp .topwrapol>li:hover a{
	color:#fa3778;
}
.topwarp .topwrapol>li>a{
	display:inline-block;
	color:#888;
	
}
.search{
	width:100%;
	height:95px;
}
.searchwrap{
	width:1200px;
	height:95px;
	margin:0 auto;
}
.searchwrap h1 a{
	height:95px;
	display:inline-block;
	text-align:center;
	float:left;
	
}
.searchwrap a img{
	vertical-align:middle;
	display:inline-block;
	padding-right:219px;
}
.searchwrap a span{
	vertical-align:middle;
	width:0;
	height:100%;
	display:inline-block;
}
.searchwrap .searchnav{
	float:left;
	color:#a2a3a5;
	display:inline-block;
	vertical-align:middle;
	
}
.searchwrap li{
	display: inline-block;	
	font-size:12px;
	padding:0 14px 0  10px;
			}
.searchwrap a{
	color:#a2a3a5;
}
.searchwrap form{
	padding-top:20px;
}
.searchwrap input{
	height:30px;
	width:340px;
	border:#ec3e7d 3px solid;
}
.searchwrap label{
	display:inline-block;
	width:90px;
	height:36px;
	background:#ec3e7d;
	text-align:center;
	font-size:13px;
	line-height:36px;
	margin-top:-1px;
	cursor:pointer;
	color:#fff;
}

/*nav*/
nav{
	height:36px;
	width:100%;
}

nav>ul{
	position:relative;
	width:1200px;
	line-height:36px;
	margin:0 auto;
	font-size:15px;
	color:#f2efee;
	text-align:center;
}
nav .father>li{
	float:left;
}
nav .father>li:nth-child(1)>span{
	background:#000;
	width:190px;
	float:left;
	color:#fff;
}
nav .father>li:nth-child(2)>a{
	width:138px;
	font-weight:bold;
}
nav .father>li>a,nav ul>li:nth-child(1)>span{
	display:inline-block;
	padding:0 16px;
	color:#111;
}

nav .son{
		background:red;
		float:left;
		width:222px;
		line-height:51px;
		margin-top:36px;
		/*margin-left:-222px;*/
		font-size:15px;
		z-index:10;
		position: absolute;
		height:420px;
		overflow:hidden;
}
nav .son>li{
	border-bottom:2px dotted #fe7dab;
}
nav .son>li:nth-child(8){
	border-bottom:none;
}
nav .son>li>a{
	width:190px;
	display:inline-block;
	padding:0 16px;
	background:#fa3778;
	color:#fff;
}


.banner{
	width:100%;
	height:420px;
	/*background:red;*/
	overflow:hidden;
	position:relative;
	
}
.banner .bannerwrap{
	/*width:700%;*/
	/*background:red;*/
	width:100%;
	height:420px;
	
}
.banner .bannerwrap>li{
	display:none;
	/*width:14.285%;*/
	width:100%;
	height:420px;
	margin:0 auto;
	float:left;
	position:absolute;
	left:0;
	top:0;
	/*background:red;*/
}
.banner .bannerwrap li a{
	display:inline-block;
	width:100%;
	height:420px;
}
.banner .bannerwrap>li:nth-child(1){
	background: url(../img/indexbanner1.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(2){
	
	background:url(../img/indexbanner2.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(3){
	background:url(../img/indexbanner3.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(4){
	background:url(../img/indexbanner4.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(5){
	background:url(../img/indexbanner5.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(6){
	background:url(../img/indexbanner6.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(7){
	background:url(../img/indexbanner7.jpg) no-repeat center;
}
/**/
.banner .bannoimg{
	width:200px;
	height:21px;
	/*background:red;*/
	position:absolute;
	bottom:10px;
	left:46%;
	z-index:4;
}
.banner .bannoimg li{
	width:20px;
	height:20px;
	float:left;
	background:#333;
	border:2px solid rgba(255,255,255,0.7);
	border-radius:50%;
	margin:0 1px;
}
.banner .bannoimg li.activ{
	background:#fa3778;
	border:2px solid rgba(255,255,255,0.7);
}

.say{
	width:100%;
	height:28px;
	background:#ececec;
}
.say .saywrap{
	width:1200px;
	/*border:#FF0000 solid 2px;*/
	font-size:12px;
	height:28px;
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.say .saywrap>ul{
	line-height:28px;
	position:absolute;
	left:28px;
	top:0;
}
.say .saywrap>span{
	font-weight:700;
	line-height:28px;
}




/*saydown==============================promise*/
#saydown{
	background:#f2f2f2;
	/*border-top:0px solid #ddd;*/
}
/*#saydown .promise_wrap{
	border-bottom:0px solid #ddd;
}*/

/*每日必看=============*/
.day{
	width:100%;
	height:62px;
	background:#f2f2f2;
}
.day>p{
	width:1200px;
	height:26px;
	/*margin:10px auto 26px;*/
	margin:0 auto;
	padding:10px 0 26px;
	background:url(../img/indexmeiribikan.png) no-repeat center;;
}
/**/
/*每日必看商品===========================================================*/
.daything{
	width:100%;
	background:#f2f2f2;
	overflow:hidden;
}
.daything .daythingwrap{
	width:1200px;
	margin:0 auto;
}
.daythingwrap>li{
	position:relative;
	width:592px;
	/*width:50%;*/
	height:278px;
	/*border:2px solid red;*/
}
.daythingwrap>li>a{
	display:inline-block;
	/*width:90%;*/
	text-align:center;
}
.daythingwrap>li>a>p{
	float:left;
	height:260px;
	width:360px;
}
.daythingwrap>li>a>div{
	width:230px;
	height:260px;
	float:left;
	padding-left:2px;
	background:#fff;
}
.daythingwrap>li>a>div>h3{
	margin-top: 60px;
    font-size: 22px;
    color: #e93b78;
}
.daythingwrap>li>a>div>span{
	display:block;
	color: #5a5a5a;
    font-size: 17px;
    margin-top: 10px;
}
.daythingwrap>li>a>div>b{
	display:block;
	color: #5a5a5a;
    font-size: 13px;
    margin-top: 3px;
}
.daythingwrap>li>a>div>p{
	width:108px;
	height:32px;
	line-height:32px;
	background:#e93b78;
	position: absolute;
	left:422px;
	bottom:50px;
	color:#fff;
}
.daythingwrap>li:nth-child(odd){
	float:left;
}
.daythingwrap>li:nth-child(even){
	float:right;
}
/*限时抢购商品*/
.limited{
	width:100%;
	background:#f2f2f2;
}
.limited .limitedwrap{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
}
.limited .limitedwrap>p:nth-child(1){
	padding:34px 0 10px;
	height:26px;
	line-height:26px;
	width:100%;
	background:url(../img/limited.png) no-repeat center;
}
.limited .limitedwrap>p:nth-child(2){
	width:100%;
	font-size:20px;
	height:22px;
	line-height:22px;
	text-align:center;
}
.limited .limitedUl,.limited .limitedUl>li{
	width:100%;
}
.limited .limitedUl>li{
	height:360px;

}
.limited .limitedUla{
	display:inline-block;
	margin-top:26px;
	background:#fff;
	width:100%;
	height:334px;
}
.limited .limitedUla>div:nth-child(1){
	width:50%;
	height:100%;
	float:left;
	/*background:url(../img/limited01.jpg) no-repeat center;
	background-size:100%;*/
}
.limited .limitedUla>div:nth-child(1)>img{
	width:100%;
	height:100%;
	display:inline-block;
}
.limited .limitedUla .limiteddiv{
	width:40%;
	margin:3% 5% 0 0;
	float:right;
	position:relative;
	
}
.limited .limiteddiv>p:nth-child(1){
	width:97px;
	padding:0 10px;
	height:26px;
	background:#000;
	color:#fff;
	font-size:13px;
	line-height:26px;
}
.limited .limiteddiv>p:nth-child(2){
	width:100%;
	height:120px;
	margin:10px 0;
	font-size:18px;
	line-height:30px;
	color:#222;
}
.limited .limiteddiv>p:nth-child(3){
	height:20px;
	font-size:13px;
	color:#666;
}
.limited .limiteddiv>p:nth-child(4){
	height:30px;
	line-height:30px;
	color:#fc3f83;
}
.limited .limiteddiv>p:nth-child(4)>span:nth-child(1){
	font-size:32px;
	font-weight:700;
}
.limited .limiteddiv>p:nth-child(4)>span:nth-child(2){
	font-size:13px;
	color:#999;
	line-height:23px;
	text-decoration: line-through;
}
.limited .limiteddiv>p:nth-child(5){
	width:100%;
	height:32px;
	position:absolute;
	bottom:-50px;
}
.limited .limiteddiv>p:nth-child(5)>b:nth-child(1){
	display:inline-block;
	line-height:13px;
	line-height:50px;
	color:#999;
	font-size:12px;
}
.limited .limiteddiv>p:nth-child(5)>b:nth-child(2){
	display:inline-block;
	float:right;
	height:32px;
	line-height:32px;
	width:92px;
	text-align:center;
	background:#e93b78;
	font-size:16px;
	color:#fff;
}

.limited .limitedwrap>span,.limited .limitedwrap>span>a{
	display:block;
	background:#fc3f83;
	width:160px;
	height:36px;
	line-height:36px;
	text-align:center;
	color:#fff;
	margin:0 auto ;
	border-radius:24px;
}
.limited .limitedwrap>span{
	margin-top:20px;
}

/*ranking排行榜*/
.ranking{
	width:100%;
	background:#f2f2f2;
}
.ranking .rankingwrap{
	width:1200px;
	overflow:hidden;
	margin:0 auto;
}

.ranking .rankingwrap>p:nth-child(1){
	width:1200px;
	height:26px;
	margin:38px 0 26px;
	background:url(../img/ranking.png) no-repeat center;
}

.ranking .rankingwrap>div{
	float:left;
	width:382px;
	overflow:hidden;
	background:#fff;
	
}
.ranking .rankingwrap>div>h3{
	width:100%;
	height:64px;
	font-size:22px;
	color:#111;
	border-top:2px solid #fc3f83;
	text-align:center;
	line-height:64px;

}
.ranking .rankingwrap>div:nth-child(3){
	margin:0 26px;
}

.ranking .rankul{
	width:100%;
	/*border:black 2px solid ;*/
}
.ranking .rankul li{
	padding:10px;
	border-top:1px solid #eee;
	position:relative;
}
.ranking .rankul>li:nth-child(1):after,.ranking .rankul>li:nth-child(2):after,.ranking .rankul>li:nth-child(3):after{
	content:".";
	width: 40px;
    height: 40px;
    position: absolute;
    left: -3px;
    top: -3px;
    background:url(../img/rankingtop1.png) no-repeat center;
}
.ranking .rankul>li:nth-child(2):after{
	background:url(../img/rankingtop2.png) no-repeat center ;	
}
.ranking .rankul>li:nth-child(3):after{
	background:url(../img/rankingtop3.png) no-repeat center ;	
}
.ranking .rankl img{
	width:80px;
	height:80px;
	display:inline-block;
}
.ranking .rankr{
	display:inline-block;
	float:right;
	width:272px;
	height:80px;
}
.ranking .rankr a{
	display:block;
	margin-top:13px;
	font-size:13px;
	color:#222;
	line-height:18px;
	height:36px;
}
.ranking .rankr>p{
	width:272px;
	height:20px;
	margin-top:7px;
}
.ranking .rankr>p>span{
	line-height:20px;
	font-size:12px;
	display:inline-block;
	color:#999;
}
.ranking .rankr>p>span:nth-child(2){
	float:right;
	margin-right:10px;
}
.ranking .rankr>p>span>b:nth-child(1){
	color:#fc3f83;
	font-size:20px;
}
.ranking .rankr>p>span>b:nth-child(2){
	text-decoration: line-through;
}


/*new新品上市===================================*/
.new{
	width:100%;
	background:#f2f2f2;
	overflow:hidden;
}
.new .new_wrap{
	width:1200px;
	margin:0 auto;
	padding-top:30px;
}
.new .newb{
	display:block;
	width:100%;
	height:26px;
	margin-bottom:26px;
	background:url(../img/new.png) no-repeat center;
	}
.new .new_ul{
	width:100%;
	overflow:hidden;
}


.new .new_ul>li:nth-child(4n){
	margin:0 0 8px 0;
}
.new .new_li{
	width:271px;
	padding:10px;
	float:left;
	background:#fff;
	margin:0 12px 8px 0;
}


.new .p1{
	padding-bottom:16px;
	position:relative;
}
.new .p1 img{
	width:271px;
	height:271px;
}
.new .p1 span{
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:40px;
	height:40px;
	background:greenyellow;
	color:#fff;
	text-align:center;
	font-size:13px;
	line-height:20px;
}
.new .p2{
	width: 251px;
    height: 33px;
    line-height: 16px;
    padding: 0 20px;
    margin-bottom: 16px;
    overflow: hidden;
}
.new .p2 a{
	font-size:13px;
	color:#000;
}

.new .p3{
	width: 251px;
    height: 20px;
    padding: 0 20px;
    font-size: 18px;
    color: #fc3f83;
    line-height:20px;
}
.new .p3>span:nth-child(2){
	color:#999;
	font-size:12px;
	text-decoration:line-through;
	line-height:21px;
}

/*promise  信息系统====================*/
.promise{
	width:100%;
	border-top:1px solid #ddd;
	overflow:hidden;
}
.promise .promise_wrap{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	border-bottom:1px solid #ddd;
}
.promise .promise_wrap>dl{
	height:120px;
	margin-right:100px;
	float:left;
}
.promise .promise_wrap>dl>dd,.promise .promise_wrap>dl>dt{
	display:inline-block;
}
.promise .promise_wrap>dl>dt{
    font-size:32px;
    overflow:hidden;
    cursor:default;
}
.promise .promise_wrap>dl>dt>i{
	font-size:32px;
	line-height:32px;
	color:#ec3e7d;
	display:block;
	height: 37px;
	
}
.promise .promise_wrap>dl>dd{
	margin-top:48px;
	padding-left:14px;
	font-size: 18px;
    color: #222;
}
.promise .promise_wrap>dl>dd>p:nth-child(2){
	margin-top:38px;
	font-size: 12px;
    color: #ddd;
    margin-top:4px;
}
.promise .promise_wrap>dl:nth-child(5){
	margin-right:0;
	float:right;
}



/*stair楼梯效果实现=============================*/
.stair{
/*	width:50px;
	height:200px;*/
	position:relative;
	left:30px;
	top:795px;
	overflow: hidden;
}
.stair li{
	width:47px;
	padding: 5px;
    background: #fff;
    font-size: 11px;
    text-align: center;
    margin-bottom: 1px;
}
.stair li a{
	color:#3e3e3e;
}
.stair>li>a>p>i{
	display:block;
	margin:0 auto;
	font-size:25px;
}
.stair .stair_active{
	background:#ec3e7d;
}
.stair .stair_active a{
	color:#fff;
}

/*helper帮助栏*/
.helper{
	width:100%;
	overflow:hidden;
	margin-bottom:42px;
}
.helper .helper_wrap{
	width:1200px;
	overflow:hidden;
	margin:0 auto;
	padding-top:16px;
	padding-bottom:18px;
}
.helper .helper_ul{
	overflow: hidden;
	float:left;
}
.helper .helper_ul>li{
	float:left;
	line-height:25px;
	width:90px;
	margin-right:90px;
}
.helper .helper_ul>li>p:nth-child(1)>a{
	font-size:14px;
	color:#222;
}
.helper .helper_ul>li>p>a{
	font-size:12px;
	color:#999;
}
.helper .helper_dl{
	float:right;
	text-align:center;
}
.helper .helper_dl>dt,.helper .helper_dl>dd{
	float:left;
}
.helper .helper_dl>dt{
	margin-right:40px;
}
.helper .helper_dl>dt>span:nth-child(1),.helper .helper_dl>dd>span:nth-child(1){
	font-size:12px;
}
.helper .helper_dl>dt>p,.helper .helper_dl>dd>p{
	 font-size: 12px;
    font-weight: bold;
    color: #111111;
}





/*footer 最后*/
footer{
	width:100%;

	background:#000;
	color:#fff;
	font-size:12px;
	height:102px;
}
footer .foot{
	width:1200px;
	overflow:hidden;
	margin:0 auto;
}
footer ul{
	padding-top:26px;
	overflow:hidden;
}
footer ul>li{
	float:left;
}
footer ul>li:nth-child(1)>a{
	padding:0 5px 0 0 ;
}
footer ul>li>a{
	display:inline-block;
	padding:0 5px ;
	color:#fff;
	font-size:12px;
}
footer p{
	padding-top:14px;
}
