html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0;}
ul,ol,li{list-style:none;}
a,u{text-decoration:none;}
b,strong{font-weight:100;}
i,em{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility: hidden;}
.top{
	width:100%;
	height:100px;
	/*position:relative;*/
}
.top img{
	width:100%;
	height:100px;
	cursor:pointer;
}
/**/.top span{
	display:inline-block;
	height:30px;
	width:30px;
	background:rgba(135,135,135,0.3);
	position:absolute;
	left:95%;
	top:10px;
	font-size:20px;
	color:rgba(255,255,255,0.7);
	font-weight:bolder;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.topnav{
	width:100%;
	height:32px;
	background:#f2f2f2;
	border-bottom:1px solid #e5e5e5;
}
.topwarp{
	width:84%;
	margin:0 auto;
	font-size:12px;
	line-height:32px;
}
.topwarp dl,.topwarp dd,.topwarp dt,.topwarp li{
	float:left;
}
.topwarp ul{
	float:right;
}
.topwarp dt a{
	display:inline-block;
	padding:0 4px;
}
.topwarp li,.topwarp dt{
	padding:0 12px;
}
.search{
	width:100%;
	height:95px;
}
.searchwrap{
	width:84%;
	height:95px;
	margin:0 auto;
}
.searchwrap h1 a{
	height:95px;
	display:inline-block;
	text-align:center;
	float:left;
}
.searchwrap a img{
	vertical-align:middle;
	display:inline-block;
	padding-right:219px;
}
.searchwrap a span{
	vertical-align:middle;
	width:0;
	height:100%;
	display:inline-block;
}
.searchwrap .searchnav{
	float:left;
	color:#a2a3a5;
	display:inline-block;
	vertical-align:middle;
	
}
.searchwrap li{
	display: inline-block;	
	font-size:12px;
	padding:0 14px 0  10px;
			}
.searchwrap a{
	color:#a2a3a5;
}
.searchwrap form{
	padding-top:20px;
}
.searchwrap input{
	height:30px;
	width:340px;
	border:#ec3e7d 3px solid;
}
.searchwrap label{
	display:inline-block;
	width:90px;
	height:36px;
	background:#ec3e7d;
	text-align:center;
	font-size:13px;
	line-height:36px;
	margin-top:-1px;
	cursor:pointer;
}

/*nav*/
nav{
	height:36px;
	width:100%;
}

nav>ul{
	position:relative;
	width:84%;
	line-height:36px;
	margin:0 auto;
	font-size:15px;
	color:#f2efee;
	text-align:center;
}
nav .father>li{
	float:left;
}
nav .father>li:nth-child(1)>span{
	background:#000;
	width:190px;
	float:left;
	color:#fff;
}
nav .father>li:nth-child(2)>a{
	width:138px;
	font-weight:bold;
}
nav .father>li>a,nav ul>li:nth-child(1)>span{
	display:inline-block;
	padding:0 16px;
	color:#111;
}

nav .son{
		background:red;
		float:left;
		width:222px;
		line-height:51px;
		margin-top:36px;
		/*margin-left:-222px;*/
		font-size:15px;
		z-index:10;
		position: absolute;
		height:420px;
		overflow:hidden;
}
nav .son>li{
	border-bottom:2px dotted #fe7dab;
}
nav .son>li:nth-child(8){
	border-bottom:none;
}
nav .son>li>a{
	width:190px;
	display:inline-block;
	padding:0 16px;
	background:#fa3778;
	color:#fff;
}


.banner{
	width:100%;
	height:420px;
	/*background:red;
	overflow:hidden;*/
	
}
.banner .bannerwrap{
	/*width:700%;*/
	/*background:red;*/
	width:100%;
	position:relative;
}
.banner .bannerwrap>li{
	display:none;
	/*width:14.285%;*/
	width:100%;
	height:420px;
	margin:0 auto;
	float:left;
	position:absolute;
	left:0;
	top:0;
	/*background:red;*/
}
.banner .bannerwrap li a{
	display:inline-block;
	width:100%;
	height:420px;
}
.banner .bannerwrap>li:nth-child(1){
	background: url(../img/indexbanner1.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(2){
	
	background:url(../img/indexbanner2.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(3){
	background:url(../img/indexbanner3.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(4){
	background:url(../img/indexbanner4.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(5){
	background:url(../img/indexbanner5.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(6){
	background:url(../img/indexbanner6.jpg) no-repeat center;
}
.banner .bannerwrap>li:nth-child(7){
	background:url(../img/indexbanner7.jpg) no-repeat center;
}
/**/
.banner .bannoimg{
	width:200px;
	height:21px;
	background:red;
	position:absolute;
	bottom:10px;
	left:46%;
	z-index:4;
}
.banner .bannoimg li{
	width:20px;
	height:20px;
	float:left;
	background:#333;
	border:2px solid rgba(255,255,255,0.7);
	border-radius:50%;
	margin:0 1px;
}
.banner .bannoimg li.activ{
	background:#fa3778;
	border:2px solid rgba(255,255,255,0.7);
}
/**/